* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #000;
}

header {
  margin-top: 10px;
  width: 100%;
  position: fixed relative;
  color: white;
  background-color: #000;
  text-align: center;
  z-index: 10;
}

header ul {

}

header li {
  display: inline-block;
  font: 1em Georgia bold;
  text-align: center;
}

.navButton {
  height: 1em;
  width: 6em;
  padding: 30px 1em;
  background-color: #000;
  border-radius: 5px;
  font: 24px Georgia;
  color: #ff8c1a
}

.navButton:hover {
  background-color: #505050;
}


.banner {
  position: relative fixed;
  top: 5em;
  margin: 0 16% 0 18%;
  width: 66%;
  z-index: 0;
}
