* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  position: fixed;
  z-index: 10;
  padding: 2em, 5em;
  background-color: darkgray;
  color: white;
  text-align: center;
}

header ul {
  margin: 30px auto;
}

header li {
  display: inline-block;
  font: 30px Georgia, serif bold;
  margin: 0 2%;
}
