* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background-color: #000;
}

nav {
  margin: 10px 0px;
  width: 100%;
  position: fixed relative;
  color: white;
  background-color: #000;
  text-align: center;
  z-index: 10;
  border-bottom: 5px;
  border-color: gray;
}

nav li {
  display: inline-block;
  text-align: center;
}

.navButton {
  height: 1em;
  width: 10%;
  min-width: 100px;
  padding: 30px 1em;
  background-color: #000;
  border-radius: 5px;
  font: 32px "Times New Roman";
  color: #fff
}

.navButton a, a:visited {
  text-decoration: none;
  color: #ff8c1a;
}

.navButton:hover, .onPage{
  background-color: #505050;
}

#navBuffer {
  height: 5px;
  background: darkgrey;
}

.container {
  margin: auto;
  width: 66%;
}

.banner {
  width: 100%;
  z-index: 0;
}

#guildName {
  color: #fff;
  text-align: center;
}
